* {
  margin: 0;
  padding: 0;
}
.a {
  display: table;
  width: 100%;
  border-collapse: separate;
  border-spacing: 10px 0;
}
.b {
  width: percent(0.33333333);
  border: 1px solid black;
  display: table-cell;
  background: rgba(0, 170, 255, 0.5);
}
